{{ block "index" .}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>GoDODev</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/static/css/styles.css" />
		<script
			src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js"
			integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1"
			crossorigin="anonymous"
		></script>
	</head>
	<body style="background-color: black; color: white">
		<div>GoDODev</div>
		<br />
		<p>Schedules</p>
		<div>{{template "schedulesTempl"}}</div>
		<p>Droplets</p>
		<div>{{template "dropletsTempl"}}</div>
	</body>
</html>
{{ end }}
